example_project/
examples/
scripts/
*.idea/
.venv/
.mypy_cache/
test_project/
.ruff_cache/
__pycache__/
.pyc/
eulix-embed/embeddingstestoutputs/
test/
build/
**/target/
*-bug.*
.eulix/
eulix.toml
callgraph-viz/
context_debug_*.txt
debug_embedding_pipeline_*
deb*
diff*
profile_*
.env
eulix-cli/eulix*
eulix-cli/internal/assets/bins/eulix-embed.zip
eulix-cli/internal/assets/bins/eulix_embed
eulix-cli/internal/assets/bins/eulix_parser_darwin
eulix-cli/internal/assets/bins/eulix_parser_linux
eulix-cli/internal/assets/bins/eulix_parser_windows.exe
eulix-cli/internal/assets/bins/eulix_parser_macos_arm
*eulix-embed.zip*
