example_project/
examples/
scripts/
*.idea/
.mypy_cache/
test_project/
.ruff_cache/
__pycache__/
.pyc/
eulix-embed/embeddingstestoutputs/
test/
build/
**/target/
*-bug.*
.eulix/
eulix.toml
callgraph-viz/
context_debug_*.txt
debug_embedding_pipeline_*
deb*
diff*
profile_*
.env
