example_project/
examples/
scripts/
*.idea/
test_project/
eulix-embed/embeddingstestoutputs/
test/
build/
**/target/
*-bug.*
.eulix/
eulix
eulix.toml
callgraph-viz/
context_debug_*.txt
debug_embedding_pipeline_*
deb*
diff*
profile_*
